@model IEnumerable<ORTTurno.tablaTurno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrarse en un nuevo Turno</h2>

<p>
    @Html.ActionLink("Crear Turno", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Dni }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Dni }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Dni })
            </td>
        </tr>
    }
    <p><strong>Para cancelar el turno o realizar alguna modificación comunicarse al Tel. 4958-9000</strong></p>
</table>
